@import '~bootstrap/scss/bootstrap';

$darker-green: #2e7e19;
$light-green: #579746;
$mint-green: #eaf2e8;
$tritanopia: #bc8b8b;
$achromatomaly: #b0a591;
$dim-grey: #696969;
$failure-red: #f00;
$success-green: #008000;

$lighter-green: #d5e5d1;
// $dark-putty: #686256;
$orange-red: #c1502e;
// $dim-teal: #587e76;
$rouge: #a96e5b;

body {
  background-color: #eaf2e8;
  color: #2e7e19;
  font-family: 'Questrial', sans-serif;
  margin-top: 45px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.menu-buttons {
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mint-green;
  border: 1.25px solid $mint-green;
  border-radius: 4px;
  color: $darker-green;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  // margin: 12px;
  outline: none !important;
  padding: 3px 5px;
  // padding: 20px;

  &:hover {
    background-color: $mint-green;
    border: 1.25px solid $mint-green;
    color: $rouge;
    cursor: pointer;
  }
}

.delete-button {
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mint-green;
  border: 1.25px solid $mint-green;
  border-radius: 4px;
  color: $darker-green;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 0.8em;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;

  &:hover {
    background-color: $mint-green;
    border: 1.25px solid $mint-green;
    color: $rouge;
    cursor: pointer;
  }
}

.open-project-button {
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mint-green;
  border: 1.25px solid $mint-green;
  border-radius: 4px;
  color: $darker-green;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 0.8em;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;

  &:hover {
    background-color: $mint-green;
    border: 1.25px solid $mint-green;
    color: $light-green;
    cursor: pointer;
  }
}

.message {
  // display: none;
  color: $mint-green;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  padding: 25px;
  text-align: center;

  &.success {
    color: $darker-green;
  }

  &.failure {
    color: $failure-red;
  }
}

.modal-style {
  background-color: $mint-green;
  color: $darker-green;
}

.modal-signup-button {
  background-color: $darker-green;
  border: solid $mint-green;
  border-radius: 8px;
  color: $mint-green;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;
  width: 75px;

  &:hover {
    background-color: $lighter-green;
    border: solid $lighter-green;
    border-radius: 8px;
    color: $mint-green;
    cursor: pointer;
    width: 75px;
  }
}

// .big-modal {
//   margin-left: -40%;
//   width: 80%;
// }

.modal-lg {
  max-width: 60%;
}

// ||||||||||||||||| PROJECTS TABLE |||||||||||||||||

.projects-table {
  // border: solid 1px $darker-green;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 75%;
  // display: flex;
  // font: normal 13px Arial, sans-serif;
}

.projects-table thead th {
  background-color: $mint-green;
  border: solid 1px $darker-green;
  color: $darker-green;
  display: flex;
  padding: 10px;
  text-align: left;
  width: 100%;
  // text-shadow: 1px 1px 1px #fff;
}

.projects-table tbody td {
  border: solid 1px $darker-green;
  color: $mint-green;
  display: flex;
  padding: 10px;
  width: 100%;
  // text-shadow: 1px 1px 1px #fff;
}

.sessions-table {
  border: 1px solid $mint-green;
  border-collapse: collapse;
  border-radius: 15px;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

.sessions-table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.sessions-table tr {
  background-color: $mint-green;
  border: 1px solid $darker-green;
  border-left-style: none;
  border-right-style: none;
  padding: 0.35em;
}

.sessions-table th,
.sessions-table td {
  padding: 0.625em;
  text-align: left;
}

.sessions-table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  // text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .sessions-table {
    border: 0;
  }

  .sessions-table caption {
    font-size: 1.3em;
  }

  .sessions-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .sessions-table tr {
    border-bottom: 3px solid $darker-green;
    display: block;
    margin-bottom: 0.625em;
  }

  .sessions-table td {
    border-bottom: 1px solid $darker-green;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .sessions-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);.
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .sessions-table td:last-child {
    border-bottom: 0;
  }
}

.player-container audio::-webkit-media-controls-panel {
  background-color: $mint-green;
  color: $darker-green;
}

// |||||||||||||||||||||||||||||||||||||||||||||||||||

// .sessions-table {
//   // border: solid 1px $darker-green;
//   background-color: $mint-green;
//   border-collapse: collapse;
//   border-spacing: 0;
//   margin: 0 auto;
//   width: 100%;
//   // display: flex;
//   // font: normal 13px Arial, sans-serif;
// }
//
// .sessions-table thead th {
//   background-color: $mint-green;
//   color: $darker-green;
//   display: flex;
//   padding: 10px;
//   text-align: left;
//   width: 100%;
//   // text-shadow: 1px 1px 1px #fff;
// }
//
// .sessions-table tbody td {
//   color: $mint-green;
//   display: flex;
//   padding: 10px;
//   width: 100%;
// }

.sessions-table {
  border: 1px solid $mint-green;
  border-collapse: collapse;
  border-radius: 15px;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

.sessions-table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.sessions-table tr {
  background-color: $mint-green;
  border: 1px solid $darker-green;
  border-left-style: none;
  border-right-style: none;
  padding: 0.35em;
}

.sessions-table th,
.sessions-table td {
  padding: 0.625em;
  text-align: left;
}

.sessions-table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  // text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .sessions-table {
    border: 0;
  }

  .sessions-table caption {
    font-size: 1.3em;
  }

  .sessions-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid $darker-green;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid $darker-green;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.player-container audio::-webkit-media-controls-panel {
  background-color: $mint-green;
  color: $darker-green;
}
